.main {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    width: 80%;
    max-width: 1600px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 120px 60px;
}

.map {
    object-fit: contain;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
    }
}
